
body{
	text-align: center;
}
h1{
	font-family: cursive;
	color: green;
}
a{
	text-decoration: none;
	font-family: charset;
	font-size: 40px;
	color: #043605;

}
div{
	width: 200px;
    height: 100px;
    background-color: #54E954;
    border: 2px solid #0E3B09;
    display: inline-block;
    margin: auto;
    padding: 20px;
}